
  {{#if messages.success}}
    <div role="alert" class="alert alert-success">
      {{#each messages.success}}
        <div>{{msg}}</div>
      {{/each}}
    </div>
  {{/if}}
  {{#if messages.error}}
    <div role="alert" class="alert alert-danger">
      {{#each messages.error}}
        <div>{{msg}}</div>
      {{/each}}
    </div>
  {{/if}}
  {{#if messages.info}}
    <div role="alert" class="alert alert-info">
      {{#each messages.info}}
        <div>{{msg}}</div>
      {{/each}}
    </div>
  {{/if}}
  <div class ="quizzer text-center"> 
    <div class="container">
      <a href="/" class="groundhow-logo">
        <img src="/perf_pic.png">
      </a>
        <h1><b>100%! Hot Dam ;D</b></h1>
        <p class="lead">You're so in tune with groundhogs, you probably even realized that the pun attempted above actually applies to beavers, which aren't synonymous for the whistlepig. Congrats, you really know your stuff.  </p>
    </div><!-- /.container -->
        <a type="button" class="btn btn-lg btn-primary" href="/quiz"><span class="glyphicon glyphicon-repeat"></span> Retake </a>
        <a type="button" class="btn btn-lg btn-primary" href="/"><span class="glyphicon glyphicon-home"></span> Home </a>
    </div>
  </div>

<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />

